.rond {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.rond-gr {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.no-marg{
    margin:0px !important;
}

.rond:hover{
    background: lightblue;
}

.rond-gr:hover{
    background: lightblue;
}

.select{
    background: lightblue;
}

.bartitre{
    background-color:#77b5fe !important; 
    border-radius: 10px;
}

.pr{
    position: relative;
}

.pa{
    position: absolute !important;
}

.centre{
    top:50%;
    margin-top: -10px;
}

.txt{
    color:white;
}

.txt-select{
    color:#77b5fe;
}

.tt-suggestion{
    text-align: left !important;
}