<div style="background-color: #337ab7;">
    <div style="height:70px; width:100%">
    </div>
    <div style="text-align: center; color:white;">
        <a>Version: beta-test</a><br/>
        <a>Modification(s) à venir :</a><br/>
        <a>- correctifs visuels - widget - améliorer le rendu des mails</a>
    </div>
</div>
