<div class="col-md-4">
    <div class="panel panel-default" style="box-shadow: 0px 0px 10px 4px rgba(131, 129, 129, 0.75);
        -moz-box-shadow: 0px 0px 10px 4px rgba(131, 129, 129, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(131, 129, 129, 0.75);">
        <div style="padding:10px;">
        <a class="pos-1">
            ...suivre vos dépenses et les modifier...
        </a>
        <img class="img-size"
            src="http://localhost/bagen/drawable/affichercompte3.png"
            alt="affichage image details d'un compte">
        </div>
    </div>
</div>
